<div fxLayout="row" fxLayoutAlign="space-around center">
	<div align="center" fxLayout="row" fxLayoutAlign="center center" class="register-form">
		<form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
			<mat-card class="mat-elevation-z8" flex="80">
				<mat-card-title>Cadastro</mat-card-title>
				<mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">
					<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
						<mat-form-field fxFlex="50">
							<input matInput type="text" formControlName="fullName" placeholder="Nome completo" />
							<mat-icon matSuffix>person</mat-icon>
						</mat-form-field>
						<mat-form-field fxFlex="50">
							<input matInput type="email" formControlName="email" placeholder="E-mail" />
							<mat-icon matSuffix>email</mat-icon>
						</mat-form-field>
					</div>
					<md-input-container formGroupName="address">
						<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
							<mat-form-field fxFlex="30">
								<input matInput type="text" formControlName="cep" placeholder="CEP" mask="00000-000" />
							</mat-form-field>
							<mat-form-field fxFlex="20">
								<input matInput type="text" formControlName="state" placeholder="Estado" />
							</mat-form-field>
							<mat-form-field fxFlex="50">
								<input matInput type="text" formControlName="city" placeholder="Cidade" />
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
							<mat-form-field fxFlex="30">
								<input matInput type="text" formControlName="district" placeholder="Bairro" />
							</mat-form-field>
							<mat-form-field fxFlex="60">
								<input matInput type="text" formControlName="street" placeholder="Rua" />
							</mat-form-field>
							<mat-form-field fxFlex="10">
								<input matInput type="text" formControlName="number" placeholder="Número" />
							</mat-form-field>
						</div>
						<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
							<mat-form-field fxFlex="100">
								<input matInput type="text" formControlName="complement" placeholder="Complemento" />
							</mat-form-field>
						</div>
					</md-input-container>
					<div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="20px">
						<mat-form-field fxFlex="50">
							<input matInput type="password" formControlName="password" type="password" />
							<mat-placeholder> Senha </mat-placeholder>
							<mat-icon matSuffix>lock</mat-icon>
						</mat-form-field>
						<mat-form-field fxFlex="50">
							<input matInput type="password" formControlName="passwordRepeated" class="form-control" />
							<mat-placeholder>Confirmar senha</mat-placeholder>
							<mat-icon matSuffix>lock_outline</mat-icon>
						</mat-form-field>
					</div>
					<div fxLayout="row" fxLayoutAlign="end end">
						<button mat-raised-button color="primary" type="submit" [disabled]="!formRegister.valid">
							<mat-icon>done</mat-icon>Registrar
						</button>
					</div>
				</mat-card-content>
			</mat-card>
		</form>
	</div>
</div>
