<div class="button-container"></div>
<table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows>
	<ng-container matColumnDef="id">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
		<td mat-cell *matCellDef="let elem">{{ elem.id }}</td>
	</ng-container>
	<ng-container matColumnDef="user">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</th>
		<td mat-cell *matCellDef="let elem">{{ elem.user.email }}</td>
	</ng-container>
	<ng-container matColumnDef="paymentType">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Forma de Pagamento</th>
		<td mat-cell *matCellDef="let elem">
			<mat-select [(value)]="elem.paymentType" (selectionChange)="updateOrder(elem)">
				<mat-option *ngFor="let paymentType of paymentTypeArr" [value]="paymentType.value">
					{{ paymentType.value | paymentTypePipe }}
				</mat-option>
			</mat-select>
		</td>
	</ng-container>
	<ng-container matColumnDef="status">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
		<td mat-cell *matCellDef="let elem">
			<mat-select [(value)]="elem.status" (selectionChange)="updateOrder(elem)">
				<mat-option *ngFor="let orderStatus of orderStatusArr" [value]="orderStatus.value">
					{{ orderStatus.value | statusPipe }}
				</mat-option>
			</mat-select>
		</td>
	</ng-container>
	<ng-container matColumnDef="creationDate">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Data de Criação</th>
		<td mat-cell *matCellDef="let elem">{{ elem.creationDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
	</ng-container>
	<ng-container matColumnDef="updateDate">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Última atualização</th>
		<td mat-cell *matCellDef="let elem">{{ elem.updateDate | date: 'dd/MM/yyyy HH:mm:ss' }}</td>
	</ng-container>
	<ng-container matColumnDef="totalValue">
		<th mat-header-cell *matHeaderCellDef mat-sort-header>Valor</th>
		<td mat-cell *matCellDef="let elem">R${{ (elem.totalValue).replace('.', ',') }}</td>
	</ng-container>
	<ng-container matColumnDef="action">
		<th mat-header-cell *matHeaderCellDef>Ação</th>
		<td mat-cell *matCellDef="let elem">
			<button mat-icon-button (click)="remove(elem.id)">
				<mat-icon>delete</mat-icon>
			</button>
			<button mat-icon-button (click)="closeOrder(elem.id)">
				<mat-icon>point_of_sale</mat-icon>
			</button>
		</td>
	</ng-container>
	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let order" style="padding: 0px" [attr.colspan]="displayedColumns.length">
			<div class="example-element-detail" [@detailExpand]="order == expandedElement ? 'expanded' : 'collapsed'">
				<table class="child-table" mat-table [dataSource]="order.orderProductArr">
					<ng-container matColumnDef="name">
						<th mat-header-cell *matHeaderCellDef>Produto</th>
						<td mat-cell *matCellDef="let elem">{{ elem.product.name }}</td>
						<td mat-footer-cell *matFooterCellDef></td>
					</ng-container>
					<ng-container matColumnDef="category">
						<th mat-header-cell *matHeaderCellDef>Categoria</th>
						<td mat-cell *matCellDef="let elem">{{ elem.product.category.name }}</td>
						<td mat-footer-cell *matFooterCellDef></td>
					</ng-container>
					<ng-container matColumnDef="amount">
						<th mat-header-cell *matHeaderCellDef>Quantidade</th>
						<td mat-cell *matCellDef="let elem">{{ elem.amount }}</td>
						<td mat-footer-cell *matFooterCellDef></td>
					</ng-container>
					<ng-container matColumnDef="originalProductValue">
						<th mat-header-cell *matHeaderCellDef>Valor Unitário</th>
						<td mat-cell *matCellDef="let elem">R${{ (elem.originalProductValue).replace('.',',') }}</td>
						<td mat-footer-cell *matFooterCellDef>Valor do pedido</td>
					</ng-container>
					<ng-container matColumnDef="total">
						<th mat-header-cell *matHeaderCellDef>Total</th>
						<td mat-cell *matCellDef="let elem">
							R${{ ((elem.originalProductValue * elem.amount) + '').replace('.',',') }}
						</td>
						<td mat-footer-cell *matFooterCellDef>R${{ (order.totalValue).replace('.',',') }}</td>
					</ng-container>
					<tr mat-header-row *matHeaderRowDef="productColumns"></tr>
					<tr mat-row *matRowDef="let row; columns: productColumns"></tr>
					<tr mat-footer-row *matFooterRowDef="productColumns"></tr>
				</table>
			</div>
		</td>
	</ng-container>
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr
		mat-row
		*matRowDef="let element; columns: displayedColumns"
		class="example-element-row"
		[class.example-expanded-row]="expandedElement === element"
		(click)="expandedElement = expand($event, expandedElement, element)"
	></tr>
	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
